@import "http://webfonts.ru/import/fira.css";

body{
	font-size:12px;
	font-family: 'Fira Sans';
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	min-width: 980px;
	background: #fff;
}

html{
	overflow-y: scroll;
}

body,html{
	height: 100%;
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
	text-align: left;
}

h1{
	font-size:18px;
	font-weight:400;
}


.header{
	height: 60px;
	line-height:60px;
	position: relative;
	background: #444;
}
.header a{
	text-decoration:none;
}

.wrapper{
	overflow:hidden;
	min-width:980px;
	max-width:1280px;
	display: block;
}

.container{
	min-width:980px;
	max-width:980px;
	min-height: 100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
	position: relative;
	display: block;
	width: 100%;
	background: #efefef;
}

.content{
	min-width: 690px;
	max-width: 690px;
	width:auto !important;
	width:100%;
	display: inline-block;
	background: #efefef;
}

.sidebar{
	float:left;
	width:270px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background: #dedede;
}

.footer{
	position: relative;
	width:100%;
	margin:-60px 0 0;
	height:60px;
	z-index:20;
	text-align: right;
	overflow: hidden;
	background: #dedede;
}

/*admin menu*/
ul.adminMenu
{
	height:60px;
	display: block;
}

ul.adminMenu li
{
	padding:0 20px;
	text-align: center;
	display: inline-block;
}
ul.adminMenu li:hover
{
	background:#666;
}
ul.adminMenu li a{
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	font-size: 12px;
}

ul.adminMenu li.selected {
	background: #ccc;
}

ul.adminMenu li.selected a{
	color: #333;
	text-decoration: none;
}

/*admin Categories*/

div.adminCategories
{
	text-align: left;
	background: #f5f5f5;
}

div.adminCategories h1
{
	font-size: 16px;
	padding: 6px 0 0 10px;
}

div.adminCategories li{
	list-style: none;
}

div.adminCategories ul li
{
	border-top: 1px solid #fff;
	border-bottom:1px solid #ccc;
	height:auto;
	padding:10px;
}
div.adminCategories ul li:hover
{
	background: #eee;
}
div.adminCategories ul li a
{

	color: #999;
	text-decoration: none;
	width: 100%;
	display: block;
}

div.adminCategories ul li.selected
{
	background: #00c0c0;
	color:#eee;
	padding:10px;
}



div.adminCategories ul li.add a
{
	color: #;
}

div.adminCategories ul li.add a span
{
	color: #555;
}

div.adminCategories ul li.selected a
{
	color:#eee;
}

div.adminCategories ul li.selected a span
{
	color:#eee;
}
/*category Edit*/
div.adminCategoryEdit
{
	margin: 10px;
}

div.adminCategoryEdit h1
{
	font-size: 14px;
	padding: 6px 0 10px 0;
}

/*product list*/

.adminCategoryProductsList
{
	padding: 10px 0 0 10px;
	display: inline-block;
}

.adminCategoryProductsList ul li.product
{
	width: 330px;
	height:100px;
	display: inline-block;
	list-style: none;
	border: 0px solid #ccc;
	overflow: hidden;
	background:#fff;
	box-shadow:0 1px 2px #ccc;
}

.adminCategoryProductsList ul li.product .image,
.adminCategoryProductsList ul li.product .data,
.adminCategoryProductsList ul li.product .edit
{
	display: inline-block;
}

.adminCategoryProductsList ul li.product .image
{
	width: 100px;
	height: 100px;
	background: #222;
	float: left;
}

.adminCategoryProductsList ul li.product .data
{
	width: 180px;
	position: relative;
	float: left;
	height: 100%;
}
.adminCategoryProductsList ul li.product .data .title
{
	margin:5px;
	font-size:14px;
}
.adminCategoryProductsList ul li.product .data .weight
{
	margin:5px;
	font-weight:200;
	font-style:italic;
}
.adminCategoryProductsList ul li.product .data .title a{
	text-decoration:none;
	color:#555
}

.adminCategoryProductsList ul li.product .data .price
{
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.adminCategoryProductsList ul li.product .edit
{
	width: 50px;
	background: #222;
	position: relative;
}

.adminCategoryProductsList ul li.product .edit .editBlock
{
	width: 50px;
	height: 50px;
	display: block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	background:#4cd24c;
}
.adminCategoryProductsList ul li.product .edit .deleteBlock
{
	width: 50px;
	height: 50px;
	display: block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	background:#d24c4c;
}

.adminCategoryProductsList ul li.product .edit div a
{
	position: absolute;
	top:20px;
	left:10px;
	color: #fff;
}
