body{
	font-size:12px;
	font-family: Arial, Tahoma, Georgia;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	min-width: 980px;
	background: #fff;
}

html{
	overflow-y: scroll;
}

body,html{
	height: 100%;
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
	text-align: left;
}


.header{
	height: 62px;
	position: relative;
	background: #444;
}

.wrapper{
	overflow:hidden;
	min-width:980px;
	max-width:1280px;
	display: block;
}

.container{
	min-width:980px;
	max-width:980px;
	min-height: 100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
	position: relative;
	display: block;
	width: 100%;
	background: #efefef;
}

.content{
	min-width: 690px;
	max-width: 690px;
	width:auto !important;
	width:100%;
	display: inline-block;
	background: #efefef;
}

.sidebar{
	float:left;
	width:270px;
	text-align: center;
	display: inline-block;
	background: #dedede;
}

.footer{
	position: relative;
	width:100%;
	margin:-60px 0 0;
	height:60px;
	z-index:20;
	text-align: right;
	overflow: hidden;
	background: #dedede;
}

/*admin menu*/
ul.adminMenu
{
	height:60px;
	display: block;
}

ul.adminMenu li
{
	padding:20px 10px 0px 10px;
	height: 42px;
	text-align: center;
	display: inline-block;
}

ul.adminMenu li a{
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
}

ul.adminMenu li.selected {

	background: #aaa;
}

ul.adminMenu li.selected a{
	color: #333;
	text-decoration: none;
}

/*admin Categories*/

div.adminCategories
{
	text-align: left;
	background: #ccc;
}

div.adminCategories h1
{
	font-size: 16px;
	padding: 6px 0 0 10px;
}

div.adminCategories li{
	list-style: none;
}

div.adminCategories ul li
{
	margin: 5px 0 0 0;
	border-top: 1px solid #c0c0c0;
	height: 30px;
}

div.adminCategories ul li a
{
	margin: 7px 0 0 10px;
	color: #000;
	text-decoration: none;
	width: 100%;
	display: block;
}

div.adminCategories ul li.selected
{
	background: #555;
	color:#eee;
}



div.adminCategories ul li.add a
{
	color: #555;
}

div.adminCategories ul li.add a span
{
	color: #555;
}

div.adminCategories ul li.selected a
{
	color:#eee;
}

div.adminCategories ul li.selected a span
{
	color:#eee;
}
/*category Edit*/
div.adminCategoryEdit
{
	margin: 10px;
}

div.adminCategoryEdit h1
{
	font-size: 16px;
	padding: 6px 0 10px 0;
}